* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.header {
    padding: 20px;
    font-family:sans-serif ;
    background-color: blueviolet;
    color: white;
}

.header h1 {
    display: inline-block;
    font-size: 40px;
}

.header nav {
    padding-top: 15px;
    margin-right: 25px;
    float: right;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 25px;
}

.Contact-Me nav {
    padding-bottom: 15px;
    margin-left: 300px;
    float: left;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 25px;
}

.header nav ul {
    list-style-type: none;
}

.header nav ul li {
    display: inline-block;
    margin-left: 25px;
}

.Contact-Me nav ul li {
    display: inline-block;
    margin-left: 75px;
    padding-top: 50px;  
}

.hero {
    height: 250px;
    width: 100%;
    margin-bottom: 25px;
    background-image: url(../images/Gradient-filler-image.jpg);
    background-size: cover;
    background-position: center;

}

.about-me {
    display: flex;
    padding-bottom: 20px;
}

.header__line {
    border: 5px solid green;
    height: 100px;
    margin-left: 15px;
    
}

.header__line2 {
    border: 5px solid green;
    height: 725px;
    margin-left: 15px;
    display: flex;
}

.header__line3 {
    border: 5px solid green;
    height: 215px;
    margin-left: 15px;

}

.about-me p {
    padding-left: 35px;
}


.about-me h2 {
    padding-left: 50px;
}

.Work h2 {
    padding-left: 125px;
}

.Contact-Me h2 {
    margin-left: 22.5px;   
}

.Work {
    display: flex;
   
}

.Work-header2 {
    color: white;
    
}

.Work a {
    height: 75%;
}


.Contact-Me {
    padding-bottom: 30px;
    padding-top: 25px;
    display: flex;
}

.about-me h2{
    font-size: 40px;
}

.Work h2 {
    font-size: 40px;
}

.Contact-Me h2 {
    font-size: 40px;
}


.Deployed_app img {
    width: 75%;
    margin-left: 30px;
    border: 5px solid blue;
    flex-shrink: none;
}

.coming_soon {
    margin: 20px;
    width: 250px;
    height: 200px;
}

.Work img:hover {
    opacity: 75%;
}

.overlay-title {
    position: absolute;
    background-color: blue;
    color: white;
    text-align: center;
    width: 150px;
    height: 100px;
    left: 280px;
    bottom: -100px;
    font-size: 20px;
    padding-top: 25px;
}

@media screen and (max-width: 1500px){
    .Work h2 {
        padding-left: 3px;
        font-size: 25px;
        margin-right: 45px;
    }

    .about-me h2 {
        padding-left: 3px;
        font-size: 25px;
    }

    .Contact-Me h2 {
        padding-left: 2px;
        font-size: 25px;
        margin: 0;
        padding-top: 50px;
    } 

    .header__line {
        display: none;
        margin-left: 5px;
    }

    .header__line2 {
        display: none;
        margin-left: 5px;
    }

    .header__line3 {
        display: none;
        margin-left: 5px;}

    .overlay-title {
        bottom: 50px ;
        left: 140px;
            
        }
        

}

@media screen and (max-width: 975px) {
    .header { 
        background-color: magenta;
    }

    .header h1 {
        font-size: 25px;
    }

    .header nav ul { 
        font-size: 13px;
    }

    .Contact-Me nav  {
        font-size: 20px;
        margin-left: 0;
        padding-left: 0;
    }

    .Deployed_app img {
        flex-shrink: none;
    }


    .Work h2 {
        padding-left: 3px;
        font-size: 25px;
    }

    .about-me h2 {
        padding-left: 3px;
        font-size: 25px;
    }

    .Contact-Me h2 {
        padding-left: 2px;
        font-size: 25px;
        margin: 0;
        padding-top: 50px;
    }

    
    .coming_soon {
        margin-left: 75px;
        width: 200px;
        height: 150px;
        bottom: 200px;
    }

    .header__line {
        display: none;
        margin-left: 5px;
    }

    .header__line2 {
        display: none;
        margin-left: 5px;
    }

    .header__line3 {
        display: none;
        margin-left: 0px;}
        

    .overlay-title {
        bottom: 315px ;
        left: 140px;
        width: 90px;
        height: 75px;
        font-size: 10px;
    }





    
}




